@charset "utf-8";

/* main */
.slidebg { animation: slideImg 0.85s linear forwards;}
.txt_box .tit {transform: translateY(10%); opacity: 0; animation: fadeUp 1s 1.2s linear forwards;}
.txt_box .txt {transform: translateY(10%); opacity: 0; animation: fadeUp 1s 1.5s linear forwards;}
.swiper-loading .slide_progress {opacity: 0; animation: fadeUp 1s 1.5s linear forwards;}



/* sub */
.inner::before {transform: translateY(-30%);  transform-origin: 100%; animation: titleImg 1.5s linear forwards;}
.visual .img-area::before {transform: scale(2); animation: slideImg 0.85s linear forwards;}
.visual .txt-area h1 {transform: translateY(10%); opacity: 0; animation: fadeUp 1s .5s linear forwards;}

/* section */
.img-wrap { transform: scale(2); animation: slideImg 0.85s linear forwards;}


@keyframes slideImg {
    100% {
        transform: scale(1);
    }
}
@keyframes fadeUp {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes titleImg {
    0% {transform: translateY(-35%);}
    100% {transform: translateY(0);}
}